mixin logo-card(imgpath, color, dnone, inline, mobile, tablet, desktop)
    .img-container.d-flex.justify-content-center.align-items-center(class=`logo-card__${color}`, class=`${dnone}`, class=`${inline}`, class=`${mobile}`, class=`${tablet}`, class=`${desktop}`)
        img.logo-card(src=`./assets/homepage/cards/logo/logo${imgpath}.png`, alt="")
.row.row-border
    +logo-card('1','blue','','','col-12','col-md-4','col-lg-3')
    +logo-card('2','darkblue','','','col-12','col-md-4','col-lg-3')
    +logo-card('3','orange','','','col-12','col-md-4','col-lg-3')
    +logo-card('4','purple','','','col-12','col-md-4','col-lg-3')
    +logo-card('5','orange','','','col-12','col-md-4','col-lg-3')
    +logo-card('6','grey','','','col-12','col-md-4','col-lg-3')
    +logo-card('7','red','d-none','d-md-flex','col-12','col-md-4','col-lg-3')
    +logo-card('8','lightblue','d-none','d-md-flex','col-12','col-md-4','col-lg-3')
    +logo-card('9','grey2','d-none','d-md-flex','col-12','col-md-4','col-lg-3')
    +logo-card('10','darkpurple','d-none','d-md-flex','col-12','col-md-4','col-lg-3')
    +logo-card('11','darkblue2','d-none','d-md-flex','col-12','col-md-4','col-lg-3')
    +logo-card('12','black','d-none','d-md-flex','col-12','col-md-4','col-lg-3')