doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Publications
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
        link(rel="stylesheet", href="../styles/publications.min.css")
    body
        header.main-section__header
            .container-header.container-header-box
                .header-grid
                    .header-grid__logo.d-flex.align-items-start
                        a(href="../index.html") 
                            img.d-md-none(src="../assets/header/svg/Logo_bright-small.svg", alt="")
                            img.d-none.d-md-block(src="../assets/header/svg/Logo_bright.svg", alt="")
                        img.main-section__header-slash.d-md-none(src="../assets/header/svg/Slash_small.svg", alt="")
                        img.main-section__header-slash.d-none.d-md-block(src="../assets/header/svg/Slash.svg", alt="")
                        span.header-current team
                    .header-grid__info.d-flex.align-items-center.justify-content-between.justify-content-md-center
                        .button-container
                            button.lang_type Ук
                            button.lang_type Ру
                            button.lang_type En
                        span.dot-separator.d-none.d-md-inline-block
                        p.adress.d-none.d-md-inline-block Kyiv, Mechnikova str, 14/1
                        span.dot-separator.d-none.d-md-inline-block
                        p.telephone 0800 211 927
                        span.dot-separator.d-none.d-md-inline-block
                        a.fb-link.d-none.d-md-inline-block(href='#')
                            svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                g(clip-path='url(#clip0_22721_6686)')
                                    path(class= "fb-link__hover", d='M24 12.0733C24 5.40541 18.6274 0 12 0C5.37258 0 0 5.40541 0 12.0733C0 18.0995 4.38823 23.0943 10.125 24V15.5633H7.07813V12.0733H10.125V9.41343C10.125 6.38755 11.9165 4.71615 14.6576 4.71615C15.9705 4.71615 17.3438 4.95195 17.3438 4.95195V7.92313H15.8306C14.3399 7.92313 13.875 8.85379 13.875 9.80857V12.0733H17.2031L16.6711 15.5633H13.875V24C19.6118 23.0943 24 18.0995 24 12.0733Z' fill='#B3B3BA')
                                defs
                                    clippath#clip0_22721_6686
                                        rect(width='24' height='24' fill='white')
                    nav.header-grid__nav.d-flex.justify-content-md-start
                        button.btn.d-md-none(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasResponsive' aria-controls='offcanvasResponsive')
                            img(src="../assets/header/svg/Hamburger.svg", alt="", class="hamburger-button")
                        #offcanvasResponsive.offcanvas-md.offcanvas-bottom.offcanvas-styling(tabindex='-1' aria-labelledby='offcanvasResponsiveLabel')
                            .offcanvas-header.justify-content-end
                                button.btn-close(type='button' data-bs-dismiss='offcanvas' data-bs-target='#offcanvasResponsive' aria-label='Close')
                            .offcanvas-body.d-flex.flex-column.flex-md-row.offcanvas-styling__body
                                a.nav-bar__link(href="./about.html") about us
                                a.nav-bar__link(href="./services.html") services
                                a.nav-bar__link(href="./team.html") team
                                a.nav-bar__link(href="./publications.html") publications
                                a.nav-bar__link(href="./contact.html") contact
        .grey-section
            main
                div.publication-card__container
                    mixin publication-card(imagepath, cardheader, pubdate, cardtext, colmobile, coltablet, coldesktop)
                        .card.publication-card(class=`${colmobile}`, class=`${coltablet}`, class=`${coldesktop}`)
                            .publication-card__bcg
                                img.publication-card__img(src=`../assets/publication_page/img/publication${imagepath}.jpg`, alt="")
                                .publication-card__txt-container
                                    a.publication-card__link.publication-card__link-noimg(href="./publications_entry.html")=cardheader
                                    span.pubdate=pubdate
                                    p=cardtext
                    .row.publication-card__row
                        +publication-card('1','Equity associate','April 22',"I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering my parents told me that if I…",'col-12','col-md-6','col-lg-4')
                        +publication-card('2','Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR','September 29','And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.','col-12','col-md-6','col-lg-4')
                        +publication-card('3','Millennial Testament','August 19','What and how modern vloggers, opinion leaders and crypto-millionaires will inherit A typical legacy of the Ukrainian generation X looks like this: an apartment in…','col-12','col-md-6','col-lg-4')
                        +publication-card('4','Language Law: How to Make Your Website Relevant','August 19',"Natalia Kyryk, head of content studio Wordfactory.ua First, it's beautiful! This is the number one argument in favor of the Ukrainian-language site. Secondly, it is effective. IN…",'col-12','col-md-6','col-lg-4')
                        +publication-card('5',"Reimbursement of the child's tuition fees in kindergarten and school",'February 5, 2018','What we are talking about In June this year, the Verkhovna Rada amended the Tax Code of Ukraine. From now on, parents who receive an official…','col-12','col-md-6','col-lg-4')
                        +publication-card('','Currency control is dead, long live currency control!','June 14, 2018','Experts hold conferences, round tables and other events on "liberalization of currency legislation." Lawyers-experts-novelists rub their fingers about "ctrl + c / ctrl + v".','col-12','col-md-6','col-lg-4')
                .d-flex.justify-content-center
                    a(href="#").button-more.h4 More publications
            include ./partials/footer.pug
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js' integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous')